{% extends "base.html" %}
{% block content %}
<div class="container">
      <!--div class="row">
      <div class="col-md-5  toppad  pull-right col-md-offset-3 ">
        <A href="#" >Logout</A>
       <br>
<p class=" text-info">May 05,2014,03:00 pm </p>
      </div-->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
   
   
          <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">{{ user.username }}</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <!--div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=100" class="img-circle"> </div-->
                {% if errors %}
                <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
                {% for error in errors %}
                        <div style="" id="login-alert" class="alert alert-danger col-sm-12">{{ error }}</div>
                        {% endfor %}
                </div>
                        {% endif %}



                <div class=" col-md-12 col-lg-12 "> 
                                    <form class="form-horizontal" role="form" method="post">
                        {{ form.csrf_token }}
                        <div class="form-group">
                            <label class="col-sm-3 control-label">原密码</label>
                            <div class="col-sm-6">
                                {{ form.old_password(class_="form-control",required=True) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">新密码</label>
                            <div class="col-sm-6">
                                {{ form.new_password(class_="form-control",required=True) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">确认新密码</label>
                            <div class="col-sm-6">
                                {{ form.confirm_new_password(class_="form-control",required=True) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="submit" class="btn btn-primary">保存</button>
                            </div>
                        </div>
                    </form>
                     
                  
                </div>
              </div>
            </div>
                 <div class="panel-footer">
                        <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
                        <span class="pull-right">
                            <a href={{ url_for('edit_profile',username=user.username) }} data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                            <a data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                        </span>
                    </div>
            
          </div>
        </div>
      </div>
    </div>
{% endblock %}

